html {
  height: 100%;
  width: 100%;
}



h4{
  padding: 60px;
  text-align: center;
  background: #a5a5b1;
  color: #110d0d;
  font-size: 30px;
}

body {
  background-color: #a5a5b1;
}

.card {
  
    background-color:#a5a5b1 ;

}


.navbar{
  background-color: #2a2a2d !important;
  font-family: 'Protest Riot', sans-serif;
}

a{
color:white !important;  
}



body, html {
  height: 100%;
}

